@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.slate.50"); /* Tailwind slate 100 */
  --foreground: theme("colors.slate.950");
  --border-radius-default: theme("borderRadius.md");
}

/* only light mode for now */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Helvetica, sans-serif;
}
